.container {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(5, minmax(200px,1fr));
}

.bar {
    width: 175px; 
    --buffer-background: var(--ion-color-tertiary);  
}

// .skills {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-content: center;
// }

.skills{
    display: grid;
    grid-template-columns: 45px auto;
    grid-template-rows: 50px auto;
}

.svg {
    height: 30px;
    width: 40px;
    align-self: center;
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: repeat(5, minmax(200px,1fr));
    }

    .skills {
        margin: 30px;
    }

    .name {
        
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        grid-template-columns: repeat(4, minmax(75px,1fr));
    }

    .svg {
        height: 75px;
    }
}

@media (min-width: 635px) and (max-width: 767px) {
    .container {
        grid-template-columns: repeat(3, minmax(200px,1fr));
    }

    .svg {
        height: 75px;
    }
}

@media (min-width: 439px) and (max-width: 634px) {
    .container {
        grid-template-columns: repeat(2, minmax(200px,1fr));
    }

    .svg {
        height: 75px;
    }
}

@media (max-width: 438px) {
    .container {
        grid-template-columns: repeat(2, minmax(40px,1fr));
    }

    .svg {
        height: 50px;
    }
}