<!-- <ion-slides pager="true" scrollbar="true">
    <ion-slide>
        <img src="../../../assets/gifs/AccountAbility_338x742.gif">
    </ion-slide>
    <ion-slide>
        <img src="../../../assets/gifs/FinanceTracker_340x744.gif">
    </ion-slide>
    <ion-slide>
        <img src="../../../assets/gifs/SpotifyRec/SpotifyRec_600x434.gif">
    </ion-slide>
    <ion-slide>
        <img src="../../../assets/gifs/RPaN/RPaN_600x335.gif">
    </ion-slide>
</ion-slides> -->


<!-- <ion-slides slidesPerView="1" pager="true">
    <ion-slide>
        <h1>Slide 1</h1>
        <ion-button (click)="slideNext()">
            <ion-icon name="arrow-forward" (click)="slideNext()"></ion-icon>
        </ion-button>
    </ion-slide>
    <ion-slide>
        <h1>Slide 2</h1>
        <ion-button (click)="slidePrev()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button (click)="slideNext()">
            <ion-icon name="arrow-forward" (click)="slideNext()"></ion-icon>
        </ion-button>
    </ion-slide>
    <ion-slide>
        <h1>Slide 3</h1>
        <ion-button (click)="slidePrev()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-slide>
</ion-slides> -->