.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}

#download-text{
    padding-left: 15px;
    
}

#download-resume{
    align-self: center;
    margin: 3rem;
    width: 250px;
    height: 50px;
    background: var(--ion-background-color) !important;
}

.heading {
    font-size: xx-large;
    text-align: center;
    font-family: var(--ion-font-family);
    margin-left: 40px;
    margin-right: 40px;
}


super-tab-button {
    fill: #fff;
}

super-tabs-toolbar {
    background-color: #222428;
    color: #fff;
    width: 1200px;
    align-self: center;
}

.wide-proj {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

ion-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.port-heading {
    margin-bottom: 25px;
}

.long-img {
    // height: 500px;
    margin-top: 35px;
}

.wide-title {
    //margin-top: 40px;
    font-size: x-large;
    text-align: center;
}

.wide-img {
    margin: 30px;
}

.wide-des {
    width: 500px;
    text-align: center;
}

.create {
    margin-top: 20px;
    font-size: large;
    font-weight: 700;
}

.wide-butts {
    margin-top: 20px;
}

.butts {
    --background:  #222428;
    margin-bottom: 25px;
}

.nonflex {
    width: 710px;
}

super-tab {
    overflow: hidden;
    --super-tab-height: auto;
}

#back {
    align-self: center;
}

#forward {
    align-self: center;
}

#port-butts {
    display: flex;
    justify-content: center;
    
}


@media (min-width: 1156px) {
    .img2 {
        display: none;
    }

    .small {
        display: none;
    }
    
}

@media (min-width: 951px) and (max-width: 1155px) {
    super-tabs-toolbar {
        width: 100%;
    }

    .small {
        display: none;
    }

    .img2 {
        display: none;
    }
    
}

@media (min-width: 751px) and (max-width: 950px) {
    #skills-heading {
        font-size: x-large;
    }

    .small {
        display: none;
    }

    super-tabs-toolbar {
        width: 100%;
    }

    .img2 {
        display: none;
    }
    
}

@media (min-width: 439px) and (max-width: 750px) {
    #skills-heading {
        font-size: 25px;
    }

    .tool-butts {
        margin-top: 12px;
    }

    .big {
        display: none;
    }

    .small {
        padding-left: 20px;
        padding-right: 20px;
    }

    .labels {
        display: none;
    }

    super-tabs-toolbar {
        width: 100%;
    }

    .img2 {
        display: none;
    }
    
}

@media (max-width: 438px) {
    #skills-heading {
        font-size: 25px;
        width: 275px;
    }

    .big {
        display: none;
    }

    .small {
        padding-left: 20px;
        padding-right: 20px;
    }

    .butts {
        width: 70px;
        height: 35px;
    }

    .tool-butts {
        margin-top: 12px;
    }

    .labels {
        display: none;
    }

    super-tabs-toolbar {
        width: 100%;
    }

    .img1 {
        display: none;
    }

    .heading {
        font-size: 26px;
    }

}

@media (max-width: 550px) {
    .wide-title {
        font-size: 20px;
    }

    .wide-des {
        font-size: medium;
        width: 325px;
    }

    .create {
        font-size: medium;
        width: 325px;
        text-align: center;
    }

    .nonflex {
        margin-left: 16px;
        margin-right: 16px;
    }
}