.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}

#download-text{
    padding-left: 15px;
    
}

#download-resume{
    align-self: center;
    margin: 3rem;
    width: 250px;
    height: 50px;
    background: var(--ion-background-color) !important;
}

.heading {
    font-size: xx-large;
    text-align: center;
    font-family: var(--ion-font-family);
    margin-left: 40px;
    margin-right: 40px;
}


super-tab-button {
    fill: #fff;
}

super-tabs-toolbar {
    background-color: #222428;
    color: #fff;
    
}

super-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-heading {
    margin-bottom: 25px;
}

.wide-img:hover {
    cursor: pointer;
}

@media (min-width: 751px) and (max-width: 950px) {
    #skills-heading {
        font-size: x-large;
    }
}

@media (min-width: 439px) and (max-width: 750px) {
    #skills-heading {
        font-size: 25px;
    }

    .labels {
        display: none;
    }
}

@media (max-width: 438px) {
    #skills-heading {
        font-size: 25px;
        width: 275px;
    }

    .labels {
        display: none;
    }
}