.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

ion-card-header{
    padding-top: 5px;
    width: 100% ;
}

#greeting {
    margin-left: 16px;
    position: relative;
    text-align: left;
    width: auto;
}

.svg {
    height: 40px;
}

#hi {
    position: absolute;
    bottom: 46%;
    color: var(--ion-color-primary);
}

#hi2 {
    position: absolute;
    color: var(--ion-color-primary);
}

.personal-title {
    color: var(--ion-color-primary);
}

.personal-subtitle {
    margin-top: 0px;
}

#info {
    padding: 11px;
}

.category{
    font-weight: bold;
    font-size: 12px;
    color: var(--ion-color-primary);
    
}


#personal-bottom{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:  #222428;
    width: auto;
}

.social-butts{
    --background:  #222428;
    justify-self: center;
    align-self: center;
    margin-left: 22px;
    margin-right: 22px;
    --webkit-transition-shadow: none !important;
    --box-shadow: none !important;
    --background-hover: var(--ion-color-dark);
}

@media (min-width: 992px) {
    #card{
        display: grid;
        grid-template-rows: 83% 17%;
        
        height: 400px;
        width: 850px !important;   
    }

    .personal-title {
        font-size: xx-large;
    }
    
    .personal-subtitle {
        font-size: large;
    }

    #hi {
        left: 2.8%;
    }

    .me {
        width: 280px;
        height: 300px;
        margin-right: 125px;
    }

    #info {
        padding-top: 20px;
    }

    .right-side {
        padding-top: 20px;
    }

    #greeting2 {
        display: none;
    }

    #header2 {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    #card{
        display: grid;
        grid-template-rows: 85% 16%;
        
        // height: 400px;
        // width: 850px !important;   
    }

    .personal-title {
        font-size: 25px;
    }
    
    .personal-subtitle {
        font-size: medium;
    }

    .me {
        width: 280px;
        height: 300px;
    }

    #hi {
        left: 5%;
    }

    #info {
        padding-top: 15px;
    }

    .right-side {
        padding-top: 20px;
    }

    #greeting2 {
        display: none;
    }

    #header2 {
        display: none;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    #card{
        width: 375px;
    }

    .me {
        width: 280px;
        height: 300px;
    }

    #hi2 {
        left: 48%;
        top: 3.25%;
    }

    #greeting {
        display: none;
    }
    
    #header1 {
        display: none;
    }

    .social-butts{ 
        margin-right: 5px;
    }

    .information {
        text-align: center;
    }

    .category{
        text-align: center;
    }

    #info{
        margin-left: -30px;
    }

    .personal-title {
        font-size: 25px;
    }
    
    .personal-subtitle {
        font-size: 20px;
    }
}

@media (min-width: 450px) and (max-width: 575px) {
    #card{
        width: 375px;
    }

    .me {
        width: 280px;
        height: 300px;
    }

    #hi2 {
        left: 48%;
        top: 3.25%;
    }

    #greeting {
        display: none;
    }
    
    #header1 {
        display: none;
    }

    .social-butts{ 
        margin-right: 5px;
    }

    .category{
        text-align: end;
    }

    .information{
        text-align: center;
    }

    .personal-title {
        font-size: 25px;
    }
    
    .personal-subtitle {
        font-size: 20px;
    }
}

@media (max-width: 449px) {
    #card{
        width: 340px;
    }

    .me {
        width: 280px;
        height: 300px;
    }

    #greeting {
        display: none;
    }

    #header1 {
        display: none;
    }

    #hi2 {
        left: 48%;
        top: 3.25%;
    }

    .social-butts{ 
        margin-right: 4px;
    }

    .personal-title {
        font-size: 23px;
    }
    
    .personal-subtitle {
        font-size: 18px;
    }
}

