<ion-header [translucent]="true" class="ion-no-border"> 
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="11">
        <div class="navbar" class="ion-text-right">
          <!-- <ion-button fill="clear" routerLink="home" routerLinkActive="selected">Home</ion-button>
          <ion-button fill="clear" routerLink="about" routerLinkActive="selected">Portfolio</ion-button> -->
          <ion-button slot="end" fill="clear" (click)="openToggle()">
            <ion-icon slot="icon-only" name="caret-down"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
